body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  font-weight: 300;
}

#logo {
  color: #d20915;
  text-align: center;
}

#logo > .logotext {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24pt;
}

#menubar {
  margin-bottom: 0;
  font-size: 13pt;
}

#search-container {
  margin-top: 60px;
}

#search {
  width: 35vw;
}

#login {
  font-size: 14pt;
}

#login-view .login-form,
#login-view .signup-form {
  position: relative;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 60%;
  background-color: #fff;
  border-radius: 10px;
}

#login-view p {
  font-size: 18pt;
  font-weight: 500;
  color: #000;
}

#login-view form {
  margin-bottom: 20px;
}

#login-view .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#login-view .data {
  font-size: 14pt;
}

#login-view input {
  text-align: center;
}

#intro-img {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('images/landing_img.jpg');
  background-size: cover;
}

#intro-img > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

#intro-img > .overlay > p {
  position: absolute;
  display: block;
  transform: translateX(-50%);
  margin-top: 150px;
  margin-left: 50%;
  width: 90%;
  color: #fff;
  font-weight: 900;
  font-size: 24pt;
  letter-spacing: 2px;
  text-align: center;
}

#results {
  margin-top: 40px;
}

#results-list {
  margin-right: auto;
  margin-left: auto;
  width: 60vw;
  max-width: 1000px;
  min-width: 700px;
}

#results a,
#results a:visited {
  color: #000;
}

#results-list .label {
  color: #fff;
  background-color: #d20915;
}

#results-list .piece {
  height: 180px;
  margin-bottom: 20px;
}

#results-list .startdate {
  margin-top: -5px;
  margin-bottom: 5px;
  word-wrap: normal;
  overflow: hidden;
  line-height: 1em;
  max-height: 5em;
  font-size: 12pt;
}

#results-list .title {
  margin-bottom: 5px;
  word-wrap: normal;
  overflow: hidden;
  line-height: 1em;
  max-height: 2em;
  font-weight: 900;
  font-size: 18pt;
}

#results-list .host {
  overflow: hidden;
  line-height: 1.1em;
  max-height: 1.1em;
  font-size: 12pt;
}

#detail-container {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 65%;
  min-width: 700px;
}

#detail-card .title {
  font-size: 16pt;
  width: 50%;
}

#detail-card .datetime {
  width: 30%;
}

#detail-card .date,
#detail-card .time {
  text-align: right;
  white-space: pre;
}

#detail-card .address {
  margin-top: 5px;
}

#detail-card .desc {
  white-space: pre-line;
}
