* {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

#logo {
  color: #d20915;
  text-align: center;
}

#logo > .logotext {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24pt;
}

#menubar {
  margin-bottom: 0;
  font-size: 15pt;
}

#menubar .search {
  padding: 5px;
}

#search {
  width: 55vw;
  margin: 0;
}

#search .fields {
  margin: 0;
}

#radius {
  height: 42px;
}

#search input,
#add-event input {
  font-family: 'Fira Sans Condensed', sans-serif;
}

#add-event .add-event-form {
  position: relative;
  padding: 50px 80px;
  border-radius: 10px;
  width: 45%;
  background-color: #fff;
  color: #000;
  text-align: center;
}

#add-event .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#add-event .add-event-form > p {
  margin-bottom: 10px;
  color: #d20915;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24pt;
}

#add-event .clear {
  margin-bottom: 20px;
}

#add-event .add-event-form form,
#add-event .add-event-form input {
  text-align: center;
  font-size: 11pt;
}

#add-event .submit {
  color: #fff;
  background-color: #d20915;
}

#menubar .right {
  font-size: 12pt;
}

#current-user .host {
  color: #d20915;
}

#intro-img {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url('images/landing_img.jpg');
  background-size: cover;
}

#intro-img > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

#intro-img > .overlay > p {
  position: absolute;
  display: block;
  transform: translateX(-50%);
  margin-top: 150px;
  margin-left: 50%;
  width: 90%;
  color: #fff;
  font-weight: 400;
  font-size: 24pt;
  letter-spacing: 2px;
  text-align: center;
}

#landing h2 {
  margin-bottom: 30px;
  color: #d20915;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25pt;
  text-align: center;
}

#landing .featured {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12pt;
  text-align: center;
}

#landing .event-info {
  padding: 10px;
}

#results {
  margin-top: 40px;
}

#results-list {
  margin-right: auto;
  margin-left: auto;
  width: 60vw;
  max-width: 1000px;
  min-width: 700px;
}

#landing a,
#landing a:visited,
#results a,
#results a:visited {
  color: #000;
}

#results-list .label {
  color: #fff;
  background-color: #d20915;
}

#results-list .event {
  height: 180px;
  margin-bottom: 20px;
}

#results-list .startdate {
  margin-top: -5px;
  margin-bottom: 5px;
  word-wrap: normal;
  overflow: hidden;
  line-height: 1em;
  max-height: 5em;
  font-size: 12pt;
}

#results-list .title {
  margin-bottom: 5px;
  word-wrap: normal;
  overflow: hidden;
  line-height: 1em;
  max-height: 2em;
  font-weight: 600;
  font-size: 18pt;
}

#results-list .host {
  overflow: hidden;
  line-height: 1.1em;
  max-height: 1.1em;
  font-size: 12pt;
}

#results-list .address {
  margin-top: 10px;
}

#detail-container {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 65%;
  min-width: 700px;
}

#detail-card {
  margin-bottom: 0;
}

#detail-card .regstatus {
  color: #fff;
  background-color: #d20915;
  font-size: 12pt;
}

#detail-card .title {
  font-size: 16pt;
}

#detail-card .main {
  width: 60%;
}

#detail-card .datetime {
  width: 40%;
}

#detail-card .date,
#detail-card .time {
  text-align: right;
  white-space: pre;
}

#detail-card .address {
  margin-top: 5px;
}

#detail-card .desc {
  white-space: pre-line;
}

footer {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
